*,
*::before,
*::after {
    box-sizing: border-box;

}

*{
  
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
body {
    /* background-image:  url(./Portfolio\ Pics/mountain.jpg); */
    background-color: rgb(105, 106, 106);
    font-family: 'Rajdhani', sans-serif;
  
}
button{
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}
.header {
    display: flex;
  
    align-items:flex-start;
    width: 60%;
    /* border: 2px solid red; */
    margin-inline:  auto;
    padding: 1rem 0;
 
}

.header__title{
    font-size: 3rem;
    text-transform: uppercase;
    flex: 1;
    color: aliceblue;
}
.header__menu {
    display: flex;
    gap: 3rem;
    /* border: 5px solid red; */
    font-size: 1.5rem;
    padding: 1rem 0;
    color: aliceblue;
    
}
.header__link {
    text-decoration: none;
    color: rgb(255, 254, 254);
}
.header__link--red{
    color: rgb(2, 2, 2);
}


/* HERO SECTION */
.hero{
    
    text-align: center;
    margin-top: 10rem;
}

.hero__title{
    font-size: 4rem;
    line-height: 1;
    letter-spacing:0.05em;
    max-width: 25ch;
    color: aliceblue;
   
    margin-inline: auto;

}

.picture img {
    width: 220px; 
    height: 220px; 
    object-fit: cover;
    border: 3px solid white;

    border-radius: 100%; /* Makes it a circle */
    /* display: block; */
    /* margin: 0 auto; Center the image horizontally within .picture */
}
.hero__description{
    color: aliceblue;
    font-size: 1.5rem;
    max-width: 50ch;
    margin: 2rem auto;
}
/* projects */
.projects{
    margin-top: 10rem;
    text-align: center;
    
}
.projects__title{
    font-size: 2.25rem;
    letter-spacing: -0.05em;
    line-height: 1;
    color: aliceblue;

}
.projects__description{
    font-size: 1.2rem;
    max-width: 40ch;
    margin: 1rem auto;
    color: white;
    /* text-align: center; */
}
.projects__container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.projects__box{
    color: white;
    background-color: black;
    padding: 2.5rem;
    /* padding: 2rem; */
    border-radius: 20px;
    flex: 1;
    min-width: 400px;
}
.projects__name{
    font-size: 2rem;
}
.projects__img{
    margin: 1rem 0 0.25rem;
}
.projects__info{

}

.projects__btn{
background-color: white;
color: rgb(8, 7, 7);
padding: 0.4rem 1rem;
margin: 2rem 0;
font-weight: 400;
width: 100%;
border-radius: 10000000000000000px;
}
.projects__features{
    padding-left: -2em;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 0.8rem;
    color: brown;
}
.projects__picture{
    width: 220px; 
    height: 220px; 
    object-fit: cover;
    border: 4px solid white;
    border-radius: 10%;
    margin-inline: auto;
 
}

/* about me */
.about{
    margin-top: 10rem;
    text-align: center;
}
.about__title{
    font-size: 2.25rem;
    letter-spacing: -0.05em;
    line-height: 1;
}
.about__description{
font-size: 1.5rem;
max-width: 45ch;
margin: 1rem auto;
}
.about__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.about__box{
    border: 10px solid rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 10px;
    width: 500px;

}
.about__box-title{
    line-height: 1;
}
.about__box-description{
    margin-top: 1rem;
}
/* contact */

.contact{
    margin-top: 10rem;
    text-align: center;

}
.contact__title{
font-size: 2.25rem;
letter-spacing: -0.05em;
line-height: 1;
}
.contact__description{
font-size: 1.5rem;
max-width: 60ch;
margin: 1rem auto;
}
.contact__btn{

}
.contact__links{
   


}
/* footer */
.footer{
    margin-top: 10rem;
    text-align: center;
}
.footer__title{
    font-size: 2rem;
    letter-spacing: 0.15em;
    font-weight: 300;
}
/*utility class */
.header__btn-container{
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
}
.btn{
    text-decoration: none;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
  
    border-radius: 10px;
}
.container{
    width: 90%;
    margin-inline: auto;
}

/* MEDIA QUERIES  */

/* Header section */
@media (max-width: 891px) {
    .header__title{
        font-size: 2rem;
    } 
    .header__link {
        font-size: 1rem;
        display: none;
    }
    .header__bars{
        width: 2rem;
        height: 2rem;
    }
    /* projects section */

    .projects__title{
        font-size: 2rem;
    }
    .projects__description{
        font-size: 1rem;
    }

}
@media (max-width: 703px) {
    .header {
        justify-content: space-between;
    }
    .header__title{
        font-size: 1.5rem;
    } 
    .header__link {
        font-size: 1.4rem;
        display:none;
    }
    /* HERO SECTION */
    .hero__title{
        font-size: 3rem;
    }
    .hero__description{
        font-size: 0.9rem;
        margin: 1rem auto;
    }
    .hero__btn{
        font-size: 0.9rem;
    }
    /* projects section */
    .projects__title{
        font-size: 1.5rem;
    }
    .projects__description{
        font-size: 0.9rem;
    }
    .about__title{
        font-size: 1.5rem;
    }
    .about__description{
        font-size: 0.9rem;
    }
    .contact__title{
        font-size: 1.7rem;
    }
    .contact__description{
        font-size: 1rem;
    }
}
@media (max-width: 628px) {
    .header {
        justify-content: space-between;
    }
    .header__title{
        font-size: 1.3rem;
        flex: 1 0 auto;
    } 
    .header__link {
        display: none;
    }
}
@media (max-width: 495px){
    .hero__title{
        font-size: 2rem;
    }
    .projects__title{
        font-size: 1.3rem;
    }
    .about__title{
        font-size: 1.3rem;
    }
}
@media (max-width: 396px){
    .hero__title{
        font-size: 1.6rem;
    }
    .projects__title{
        font-size: 1.1rem;
    }
    .about__title{
        font-size: 1.1rem;
    }
}