*,
*::before,
*::after {
    box-sizing: border-box;

}

*{
    font-family: 'Averia Serif Libre', serif;
font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* to do: Add google fonts.  */