*,
*::before,
*::after {
    box-sizing: border-box;

}

*{
  
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
body {
    
    font-family: 'Rajdhani', sans-serif;
}
button{
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}
.header {
    display: flex;
  
    align-items:flex-start;
    width: 60%;
    /* border: 2px solid red; */
    margin-inline:  auto;
    padding: 1rem 0;
}

.header__title{
    font-size: 3rem;
    text-transform: uppercase;
    flex: 1;
}
.header__menu {
    display: flex;
    gap: 3rem;
    /* border: 5px solid red; */
    font-size: 1.5rem;
    padding: 1rem 0;
    
}
.header__link {
    text-decoration: none;
    color: black;
}
.header__link--red{
    color: red;
}

/* HERO SECTION */
.hero{
    border: 1px solid red;
    text-align: center;
    margin-top: 10rem;
}

.hero__title{
    font-size: 4rem;
    line-height: 1;
    letter-spacing:0.05em;
    max-width: 25ch;
    border: 1px solid red;
    margin-inline: auto;

}
.hero__description{
    font-size: 1.5rem;
    max-width: 50ch;
    margin: 2rem auto;
}
/* projects */
.projects{
    margin-top: 10rem;
}
.projects__title{
    font-size: 2.25rem;
    letter-spacing: -0.05em;
    line-height: 1;

}
.projects__description{
    font-size: 1.2rem;
    max-width: 40ch;
    margin: 1rem 0;
}

.projects__box{
    background-color: black;
    border: 1px solid red;
}

/* utility class */
.header__btn-container{
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
}
.btn{
    text-decoration: none;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
}
.container{
    width: 90%;
    margin-inline: auto;
}
